<app-navbar></app-navbar>
<div class="movie-container">
    <mat-card *ngFor="let movie of movies">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <div class="movie-cards_box">
            <div class="movie-img">
                <img class="movie-card-img" src={{movie.imagePath}} alt={{movie.Title}} />
            </div>
            <div>
                <mat-card-actions>
                    <button mat-button (click)="openGenreDialog(movie.genre.name, movie.genre.description)">
                        Genre
                    </button>
                    <button mat-button
                        (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)">
                        Director
                    </button>
                    <button mat-button (click)="openSynopsisDialog(movie)">
                        Synopsis
                    </button>
                    <button mat-icon-button *ngIf="!isFavoriteMovie(movie._id)" (click)="addToFavorites(movie._id)">
                        <mat-icon class="nofav">favorite_border</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="isFavoriteMovie(movie._id)" (click)="addToFavorites(movie._id)">
                        <mat-icon class="fav">favorite</mat-icon>
                    </button>
                </mat-card-actions>
            </div>
        </div>
    </mat-card>
</div>