<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>myFlix</title>
</head>

<body>
  <div class="main-page">
    <h1>
      Welcome to myFlix
    </h1>
    <button mat-raised-button color="primary" (click)="openUserRegistrationDialog()" style="margin-right: 14px">
      Sign Up
    </button>
    <button mat-raised-button color="primary" (click)="openUserLoginDialog()" style="margin-right: 14px">
      Login
    </button>
  </div>
</body>

</html>