<app-navbar></app-navbar>
<div class="profile-container">
    <mat-icon aria-hidden="false" aria-label="account_circle" fontIcon="account_circle"></mat-icon>
    <h1 *ngIf="user">{{ user.Username }}</h1>
    <p *ngIf="user">Email: {{ user.Email }}</p>
    <h2 style="margin-top: 50px;">Update User Info</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input shouldLabelFloat="true" matInput type="text" [(ngModel)]="formUserData.Username" name="Username"
                placeholder="Username" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="formUserData.Password" name="Password"
                placeholder="Password" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="formUserData.Email" name="email" placeholder="Email" />
        </mat-form-field>



        <mat-card-actions>
            <button class='accnt-btn' mat-raised-button (click)="updateUser()" type="submit">
                Edite profile
            </button>
            <button class='accnt-btn' mat-raised-button color="warn" (click)="deleteUser()">
                Delete profile
            </button>
        </mat-card-actions>
    </form>
</div>